body{
  background-color: rgb(63, 62, 62);
  color: white;
}

.text-center{
  text-align: center;
}
.small-text{
  font-size: medium;
}

.bg-color-1{
  background-color: #E6E6FA;
  color: black;
}
.bg-color-2{
  background-color: #FFD700;
color: black;
}
.bg-color-3{
  background-color: #FF0000;
  color: black;
}
.bg-color-4{
  background-color: #00FF00;
}
.bg-color-5{
  background-color: #F5DEB3;
  color: black;
}
.bg-color-6{
  background-color: yellow;  
  color: black;
}

/* ---------------------------------- */

#main{
  width: 100%;
  max-width: 1200px;
  height: auto;
  padding-top: 1%;
  padding-left: 2%;
  margin: auto;
}

.navbar{
  background-color: aqua;
  color: black;
  display: block;
  padding: 0.1% 0;
  width: 100%;
}

.selection-list{
  width: 20%;
  height: 30px;
  margin: 10px;
}

#main ul{
  list-style: none;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}
#main ul li{
  width: 33%;
  height: 300px;
  cursor: pointer;
}

.card-main{
  width: 70%;
  height: 70%;
  padding: 10px;
  overflow-y: auto;
  transition: transform .2s;
  border-radius: 0px 40px 0px 40px;
}

.card-main:hover{
  transform: scale(1.1);
}

.card-title{
  font-size: 1.2rem;
  font-weight: 700;
}
.card-title span{
  font-size: 0.7rem;
}

.card-value{
  font-size: 2.2rem;
  font-weight: 700;
  margin: 18% 0 0 0;
}

.my-footer{
  position:sticky;
  bottom: 0;
  left: 0;
  text-align: center;
  color: black;
  background-color: white;
}

.my-footer a{
  margin-left: 15px;
  font-size: 0.8rem;
}

/* --------------------------------- */

@media (max-width:1000px){
  .selection-list{
    width: 40%;
  }
  #main ul li{
    height: 200px;
    cursor: pointer;
  }
  .card-title{
    font-size: 1rem;
  }
  .card-title span{
    font-size: 0.6rem;
  }
  .card-value{
    font-size: 1.5rem;
  }
  .card-main{
    border-radius: 0px 20px 0px 20px;
  }
}
@media (max-width:600px){
  .selection-list{
    width: 50%;
  }
  #main ul li{
    width: 50%;
  }
}
@media (max-width:400px){
  .selection-list{
    width: 90%;
  }
  #main{
  padding-left: 4%;
  }
  #main ul li{
    width: 100%;
  }
  .navbar{
    font-size: 0.7rem;
  }
}